.space=link_to 'All',spaces_path
-objects.each do |space|
  .space{:id=>"space_#{space.id}"}
    =link_to space.name, space_path(space), :remote=>true
    .actions.right
      =link_to image_tag("http://www.full-circle-arts.co.uk/img/remove_basket.gif",:style=>"height:15px"), space_path(space), :remote=>true,:method=>'delete',:confirm=>"are you sure?"
=form_for :space, :remote => true ,:html => {:id=>"new_space"} do |f|
  =f.label :name
  =f.text_field :name
  =f.submit("add")
