%script
  function currentSpaceId(){
  ==return #{object.id};
  }
#groups  
  -object.groups.each do |group|
    =render :partial=>"groups/object_with_id",:locals=>{:object => group}
  /=render :partial=>"object_with_id", :collection=>current_objects  
.clear
#new_group_button
  =link_to_function 'new group' do |page|
    -page<<"$('#new_group_button').hide()"
    -page<<"$('#new_group').show()"
    
=form_for :group, :url=>space_groups_path(object), :remote => true ,:html => {:id=>"new_group",:style=>"display:none"} do |f|
  =f.label :name
  =f.text_field :name
  =f.submit("add")